html{
    pointer-events:none;
  }

body{
    background-color: rgba(11, 116, 165, 0.925);
    width: 100vw;
    margin: 0px;
    color: yellowgreen;
    font-family: 'Underdog', cursive;
}

footer{
    height: 100px;
    background-color: rgb(16, 13, 48);
    margin: 65px 0px 0px 0px;
    padding: 3em;
}

h1{
    font-size: 9em;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    margin: -86px 0 20px 0;
    text-shadow: 6px 6px 0 rgba(31, 12, 97, 0.329);
    z-index: 5;
}

blockquote{
    font-size: 44px;
    font-style: italic;
    font-weight: 700;
    border: 8px double yellow;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}

/* https://unicode-table.com/en/201D/ */
blockquote::before{
    content: '“';
}

blockquote::after{
    content: '”';
}

p{
    width: 50%;
    color: snow;
    font-size: 1.3rem;
}

footer{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


li:nth-of-type(2){
    color: darkslateblue;
}

.photoGallery{
    margin: 0 10%;
}

.imgContainer {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    border-bottom: 4px dashed snow;
    z-index: -1;
    pointer-events: all;
}

.imgContainer:hover{
    mix-blend-mode: hard-light;
}

#mikkaImg{
    width: 100%;
    transform: translateY(-190px);
    filter: contrast(1.15);
}

/* @media and screensize(440px){
    p{font-size: 5em}
} */

/* preloader */
.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  .loader > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
  }
  .loader .bar1 {
    background-color: #754fa0;
  }
  .loader .bar2 {
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .loader .bar3 {
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .loader .bar4 {
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .loader .bar5 {
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .loader .bar6 {
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
  
  @-webkit-keyframes delay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.05);
    }
    20% {
      -webkit-transform: scaleY(1);
    }
  }
  @keyframes delay {
    0%, 40%, 100% {
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }

  #overlay{
	height:100vh;
	width:100vw;
	background:#161616;
	position:fixed;
	left:0;
	top:0;
	z-index: 999999;
	-webkit-transition: all 2s ease;  
	-moz-transition: all 2s ease;  
	-o-transition: all 2s ease;  
	-ms-transition: all 2s ease;  
	transition: all 2s ease;
   }